Package: com.yourcompany.welcometweak
Name: WelcomeTweak
Version: 1.0
Architecture: iphoneos-arm
Description: Welcome message tweak
Maintainer: Ali
Author: Ali
Section: Tweaks
Depends: mobilesubstrate
